#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
}

.outer {
  border: 1px solid;
  margin: 1rem;
  overflow: hidden;
  text-align: right;
  
  border-radius: 1rem;
}

.inner {
  border-radius: 1rem;
}